body {
    overflow-y: scroll;
}

.logo-img {
    height: 4rem;
}

th.action-checkbox-column {
    width: 1rem;
}

th.column-sort_order {
    width: 8rem;
}

.errorlist {
    margin: 0;
}

.hidden {
    display: none;
}

th.required:after {
    content: ' *';
    color: var(--tblr-danger);
}

/* ACTION ICONS */
.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.empty-form {
    display: none;
}