{% extends "admin/change_form.html" %}

{% block field_sets %}
    <div class="mb-3 row field-name align-items-center">
        <div class="col-1 text-end">
            <label class="form-label mb-0" for="id_name">{{ adminform.form.name.label }}</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="{{ adminform.form.name.name }}" id="id_name"
                   value="{{ adminform.form.name.value }}" autocomplete="name">
        </div>
    </div>
    <div class="row">
        {% include 'admin/includes/permission.html' %}
    </div>
{% endblock %}