{% extends 'admin/base_site.html' %}
{% load i18n static cmf_tags %}
{% block page_header %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                {% trans 'Profile' %}
            </div>
            <h2 class="page-title">{{ user.username }}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mt-4">{% translate 'Base Profile' %}</h3>
                <div class="row g-3">
                    <div class="col-md">
                        <label class="form-label" for="first-name">{% translate 'First Name' %}</label>
                        <input type="text" class="form-control" name="first_name" id="first-name" value="{{ user.first_name }}"
                               autocomplete="given-name">
                    </div>
                    <div class="col-md">
                        <label class="form-label" for="last-name">{% translate 'Last Name' %}</label>
                        <input type="text" class="form-control" name="last_name" id="last-name" value="{{ user.last_name }}"
                               autocomplete="family-name">
                    </div>
                    <div class="col-md">
                        <label class="form-label" for="email">{% translate 'Email' %}</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" autocomplete="email">
                    </div>
                </div>
                <h3 class="card-title mt-4">{% translate 'Password' %}</h3>
                <p class="card-subtitle text-muted">
                    {% translate 'You can click the button below to go to the password change page.' %}
                </p>
                <div>
                    <a href="{% url 'admin:password_change' %}" class="btn btn-primary"> {% translate 'Change password' %} </a>
                </div>
                <h3 class="card-title mt-4">{% translate 'Status' %}</h3>
                <p class="card-subtitle">
                    {% translate 'Current user identity and status.' %}
                </p>
                <div class="badges-list">
                    {% if user.is_superuser %}
                        <span class="badge badge-outline text-dark">{% translate 'Super user' %}</span>
                    {% else %}
                        <span class="badge badge-outline text-dark">{% translate 'Normal user' %}</span>
                    {% endif %}
                    {% if user.is_staff %}
                        <span class="badge badge-outline text-dark">{% translate 'Staff' %}</span>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
            </div>
        </div>
    </form>
    {% include 'component/cropper.html' %}
{% endblock %}