{% extends "admin/change_form.html" %}
{% load i18n cmf_tags %}

{% block field_sets %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tabs-user" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">
                        {% sprite 'tabler-user' 'icon me-2' %} {% translate 'Personal info' %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-groups" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                        {% sprite 'tabler-users-group' 'icon me-2' %} {% translate 'Groups' %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-permission" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                        {% sprite 'tabler-shield' 'icon me-2' %} {% translate 'Permissions' %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active show" id="tabs-user" role="tabpanel">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label{% if adminform.form.username.required %} required{% endif %}"
                                       for="username">
                                    {{ adminform.form.username.label }}
                                </label>
                                <input type="text"
                                       name="{{ adminform.form.username.name }}"
                                       id="username" class="form-control"
                                       value="{{ adminform.form.username.value }}"
                                       autocomplete="username"
                                       {% if adminform.form.username.required %}required{% endif %}>
                                {% if adminform.form.username.help_text %}
                                    <small class="form-hint">{{ adminform.form.username.help_text }}</small>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <div class="form-label">{{ adminform.form.password.label }}</div>
                                <span class="me-3">{{ adminform.form.password.value|truncatechars:32 }}</span>
                                <a href="../password" class="btn btn-primary btn-sm">
                                    {% if original.has_usable_password %} {% translate 'Reset password' %} {% else %}
                                        {% translate 'Set password' %} {% endif %}
                                </a>
                                <small class="form-hint">{{ adminform.form.password.help_text }}</small>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-label">{{ adminform.form.last_login.label }}</div>
                                    <input type="hidden" name="{{ adminform.form.last_login.name }}_0"
                                           value="{{ adminform.form.last_login.value|date:'Y-m-d' }}" readonly>
                                    <input type="hidden" name="{{ adminform.form.last_login.name }}_1"
                                           value="{{ adminform.form.last_login.value|date:'H:i:s' }}" readonly>
                                    <h3>{{ adminform.form.last_login.value }}</h3>
                                    {% if adminform.form.last_login.help_text %}
                                        <small class="form-hint">{{ adminform.form.last_login.help_text }}</small>
                                    {% endif %}
                                </div>

                                <div class="col-6">
                                    <div class="form-label">{{ adminform.form.date_joined.label }}</div>
                                    <input type="hidden" name="{{ adminform.form.date_joined.name }}_0"
                                           value="{{ adminform.form.date_joined.value|date:'Y-m-d' }}" readonly>
                                    <input type="hidden" name="{{ adminform.form.date_joined.name }}_1"
                                           value="{{ adminform.form.date_joined.value|date:'H:i:s' }}" readonly>
                                    <h3>{{ adminform.form.date_joined.value }}</h3>
                                    {% if adminform.form.date_joined.help_text %}
                                        <small class="form-hint">{{ adminform.form.date_joined.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <!-- First Name -->
                            <div class="mb-3">
                                <label class="form-label" for="{{ adminform.form.first_name.name }}">
                                    {{ adminform.form.first_name.label }}
                                </label>
                                <input type="text"
                                       name="{{ adminform.form.first_name.name }}"
                                       id="{{ adminform.form.first_name.name }}"
                                       class="form-control"
                                       value="{{ adminform.form.first_name.value }}">
                                {% if adminform.form.first_name.help_text %}
                                    <small class="form-hint">{{ adminform.form.first_name.help_text }}</small>
                                {% endif %}
                            </div>

                            <!-- Last Name -->
                            <div class="mb-3">
                                <label class="form-label" for="{{ adminform.form.last_name.name }}">
                                    {{ adminform.form.last_name.label }}
                                </label>
                                <input type="text"
                                       name="{{ adminform.form.last_name.name }}"
                                       id="{{ adminform.form.last_name.name }}"
                                       class="form-control"
                                       value="{{ adminform.form.last_name.value }}">
                                {% if adminform.form.last_name.help_text %}
                                    <small class="form-hint">{{ adminform.form.last_name.help_text }}</small>
                                {% endif %}
                            </div>

                            <!-- Email -->
                            <div class="mb-3">
                                <label class="form-label" for="{{ adminform.form.email.name }}">
                                    {{ adminform.form.email.label }}
                                </label>
                                <input type="email"
                                       name="{{ adminform.form.email.name }}"
                                       id="{{ adminform.form.email.name }}"
                                       class="form-control"
                                       value="{{ adminform.form.email.value }}">
                                {% if adminform.form.email.help_text %}
                                    <small class="form-hint">{{ adminform.form.email.help_text }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-groups" role="tabpanel">
                    <div class="row">
                        {{ adminform.form.groups }}
                    </div>
                    <small class="form-hint">{{ adminform.form.groups.help_text }}</small>
                </div>

                <!-- permissions tree block -->
                <div class="tab-pane" id="tabs-permission" role="tabpanel">
                    <div class="row mt-3">
                        <div class="col-4">
                            <label class="form-check">
                                <input type="checkbox" name="{{ adminform.form.is_active.name }}" class="form-check-input"
                                       {% if adminform.form.is_active.value %}checked{% endif %}>
                                <span class="form-label">{{ adminform.form.is_active.label }}</span>
                            </label>
                            <small class="form-hint">{{ adminform.form.is_active.help_text }}</small>
                        </div>
                        <div class="col-4">
                            <label class="form-check">
                                <input type="checkbox" name="{{ adminform.form.is_staff.name }}" class="form-check-input"
                                       {% if adminform.form.is_staff.value %}checked{% endif %}>
                                <span class="form-label">{{ adminform.form.is_staff.label }}</span>
                            </label>
                            <small class="form-hint">{{ adminform.form.is_staff.help_text }}</small>
                        </div>
                        <div class="col-4">
                            <label class="form-check">
                                <input type="checkbox" name="{{ adminform.form.is_superuser.name }}" class="form-check-input"
                                       {% if adminform.form.is_superuser.value %}checked{% endif %}>
                                <span class="form-label">{{ adminform.form.is_superuser.label }}</span>
                            </label>
                            <small class="form-hint">{{ adminform.form.is_superuser.help_text }}</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        {% include 'admin/includes/permission.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}