{% load i18n pinmok_tags %}
{% if not is_popup %}
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <!-- BEGIN DOCUMENTATION -->
                        {% if user.is_active and user.is_staff %}
                            <li class="list-inline-item">
                                <a href="https://docs.pinmok.com" class="link-secondary" target="_blank">
                                    {% icon 'tabler-books' 'icon text-primary icon-inline' %}{% translate 'Documentation' %}
                                </a>
                            </li>
                        {% endif %}
                        <!-- END DOCUMENTATION -->
                        <li class="list-inline-item">
                            <a href="{% url 'admin:padmin:license_page' %}" class="link-secondary">
                                {% icon 'tabler-license' 'icon text-success icon-inline' %} {% translate 'License' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endif %}