{% extends 'config/config_base.html' %}
{% load i18n cmf_tags %}

{% block page_title %}
    {% if nav_item %}{% translate 'Edit' %}{{ nav_item.name }}{% endif %}
{% endblock %}

{% block content %}
    <form action="{% url 'admin:cmfadmin:navitem' nav_id nav_item_id %}" method="post">{% csrf_token %}
        <div class="card">
            {% if form.errors %}
                <div class="card-header">
                    <div class="alert alert-danger">
                        <div class="alert-icon">{% sprite 'tabler-alert-circle' 'icon alert-icon' %}</div>
                        {{ form.errors }}
                    </div>
                </div>
            {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="col-3 form-label required" for="title">{% translate 'Name' %}</label>
                        <input class="form-control" type="text" name="name" id="title" value="{{ nav_item.name }}" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="parent">{% translate 'Parent Menu' %}</label>
                        <select class="form-select" name="parent" id="parent">
                            <option value="">{% translate 'Top Level' %}</option>
                            {% for item in nav_items %}
                                <option value="{{ item.id }}"{% if item.id == nav_item.parent_id %} selected{% endif %}>
                                    {{ item.title|safe }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="url">URL</label>
                        <input class="form-control" type="text" name="url" id="url" value="{{ nav_item.url|default:'' }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="target">{% translate 'Target' %}</label>
                        <select class="form-select" name="target" id="target">
                            {% for t in target %}
                                <option value="{{ t }}">{% translate t.label %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="icon">{% translate 'Icon' %}</label>
                        <input class="form-control" type="text" name="icon" id="icon" value="{{ nav_item.icon|default:'' }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="sort">{% translate 'Sort Order' %}</label>
                        <input class="form-control" type="number" name="sort_order" id="sort"
                               value="{{ nav_item.sort_order|default:10000 }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="visible">{% translate 'Is Visible' %}</label>
                        <label class="form-check form-switch mt-3">
                            <input class="form-check-input" type="checkbox" name="is_visible" id="visible"
                                   {% if nav_item.id is none or nav_item.is_visible %}checked{% endif %}
                                   data-visible-text="{% translate 'Visible' %}"
                                   data-invisible-text="{% translate 'Invisible' %}"
                                   onchange="toggleVisibleLabel(this)">
                            <span class="form-check-label" id="visible-label"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
                <button type="submit" class="btn btn-primary" name="add_another">{% translate 'Save and add another' %}</button>
                <a href="javascript:window.history.back()" class="btn btn-secondary">{% translate 'Back' %}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const is_visible = document.getElementById('visible');
            toggleVisibleLabel(is_visible);
        })

        function toggleVisibleLabel(input) {
            const label = input.nextElementSibling;
            const visibleText = input.dataset.visibleText;
            const invisibleText = input.dataset.invisibleText;
            label.innerText = input.checked ? visibleText : invisibleText;
        }
    </script>
{% endblock %}
