{% extends 'config/config_base.html' %}
{% load i18n cmf_tags %}

{% block page_title %}
    {% if action == 'edit' %}
        {% translate 'Edit SVG icon in sprite' %}
    {% else %}
        {% translate 'Add SVG icon to sprite' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'admin:cmfadmin:icons_manage' %}" method="post">{% csrf_token %}
                <input type="hidden" name="original_id" value="{{ symbol_id }}">
                <div class="mb-3">
                    <label class="form-label required" for="symbol_id">{% translate 'Symbol Name' %}</label>
                    <input type="text" class="form-control" id="symbol_id" name="symbol_id" value="{{ symbol_id }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label required" for="svg_code">{% translate 'SVG Code' %}</label>
                    <textarea class="form-control" name="svg_code" id="svg_code" rows="6"
                              placeholder="{% translate 'Paste SVG code here...' %}" required>{{ svg_code }}</textarea>
                    <small class="form-hint">
                        {% translate 'Paste your SVG code into the textarea.' %}
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
            </form>
        </div>
    </div>
{% endblock %}