<!-- components/dialog.html -->
{% load i18n cmf_tags static %}

<div class="modal modal-blur fade" id="cmf-dialog-template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            <div class="modal-status" id="dialogStatus"></div>
            <div class="modal-body text-center py-4">
                <div id="dialogIcon"></div>
                <h3 id="dialogTitle" class="text-uppercase"></h3>
                <div id="dialogMessage" class="text-secondary"></div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <button id="dialogCancelBtn" class="btn w-100" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="col">
                            <button id="dialogOkBtn" class="btn w-100"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // SVG icons
    const DIALOG_ICONS = {
        success: `{% sprite 'tabler-check' 'icon mb-2 text-success icon-lg' %}`,
        danger: `{% sprite 'tabler-alert-octagon' 'icon mb-2 text-danger icon-lg' %}`,
        warning: `{% sprite 'tabler-alert-triangle' 'icon mb-2 text-warning icon-lg' %}`,
        info: `{% sprite 'tabler-info-circle' 'icon mb-2 text-info icon-lg' %}`
    };
</script>
<script src="{% static 'admin/js/components/dialog.js' %}"></script>