{% extends "admin/base_site.html" %}
{% load i18n static cmf_tags %}

{% block title %}
    {% if form.errors %}
        {% translate "Error:" %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">{% translate 'Password change' %}</li>
{% endblock %}

{% block page_header %}
    <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            <span>{{ title }}</span>
        </div>
        <h2 class="page-title">
            {% translate 'Change my password' %}
        </h2>
    </div>
{% endblock %}

{% block content %}
    <div id="content-main" class="card">
        <form method="post">{% csrf_token %}
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <div class="alert-icon">
                            {% sprite 'tabler-alert-circle' 'icon alert-icon' %}
                        </div>
                        {% blocktranslate trimmed count counter=form.errors.items|length %}
                            Please correct the error below.{% plural %}Please correct the errors below.
                        {% endblocktranslate %}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <div class="alert-icon">
                            {% sprite 'tabler-alert-circle' 'icon alert-icon' %}
                        </div>
                        {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                    </div>
                {% endif %}

                <div class="row mb-3">
                    <label for="{{ form.old_password.id_for_label }}" class="col-2 col-form-label required">
                        {{ form.old_password.label }}
                    </label>
                    <div class="col-4">
                        <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}"
                               name="{{ form.old_password.name }}"
                               autocomplete="current-password" autofocus required>
                    </div>
                    <div class="col">
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                <div class="alert-icon">
                                    {% sprite 'tabler-alert-circle' 'icon alert-icon' %}
                                </div>
                                {{ form.old_password.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="{{ form.new_password1.id_for_label }}" class="col-2 col-form-label required">
                        {{ form.new_password1.label }}
                    </label>
                    <div class="col-4">
                        <input type="password" class="form-control" name="{{ form.new_password1.name }}" autocomplete="new-password"
                               required aria-describedby="id_new_password1_helptext" id="{{ form.new_password1.id_for_label }}">
                        {% if form.new_password1.help_text %}
                            <small class="form-hint">{{ form.new_password1.help_text|safe }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger" role="alert">
                                <div class="alert-icon">
                                    {% sprite 'tabler-alert-circle' 'icon alert-icon' %}
                                </div>
                                {{ form.new_password1.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <label for="{{ form.new_password2.id_for_label }}" class="col-2 col-form-label required">
                        {{ form.new_password2.label }}
                    </label>
                    <div class="col-4">
                        <input type="password" class="form-control" name="{{ form.new_password2.id_for_label }}" autocomplete="new-password"
                               required id="{{ form.new_password2.id_for_label }}">
                        {% if form.new_password2.help_text %}
                            <small class="form-hint">{{ form.new_password2.help_text|safe }}</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger" role="alert">
                                <div class="alert-icon">
                                    {% sprite 'tabler-alert-circle' 'icon alert-icon' %}
                                </div>
                                {{ form.new_password2.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
            </div>
        </form>
    </div>

{% endblock %}
