{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block need_page_header %}{% endblock %}

{% block content %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-img">
                    <img src="{% static 'admin/svg/celebration.svg' %}" class="w-100 h-auto d-block" alt="">
                </div>
                <p class="empty-title">
                    {% translate 'Your password was changed.' %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
