{% load static i18n pinmok_admin_tags %} {#  #}
<h2 id="pagination" class="visually-hidden">
    {% blocktranslate with name=cl.opts.verbose_name_plural %}Pagination {{ name }}{% endblocktranslate %}
</h2>
{% if pagination_required %}
    <div class="d-flex align-items-center gap-3">
        <ul class="pagination">
            {% paginator_previous cl %}
            {% for i in page_range %} {% paginator_number cl i %} {% endfor %}
            {% paginator_next cl %}
        </ul>
        <div class="text-secondary">
            <strong>{{ cl.result_count }}</strong>
            <span>{% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</span>
            {% if show_all_url %} <a href="{{ show_all_url }}" class="btn btn-link">{% translate 'Show all' %}</a> {% endif %}
        </div>
    </div>
{% endif %}
