{% extends "admin/base.html" %}
{% load static cmf_tags i18n %}
{% block body %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-header">403</div>
                <p class="empty-title">
                    {% translate 'Oops… Bad Request' %}
                </p>
                <p class="empty-subtitle text-secondary">
                    {% translate 'The server could not understand your request due to invalid syntax.' %}
                </p>
                <div class="empty-action">
                    <button class="btn btn-primary" onclick="goBackOrHome()">
                        {% sprite 'tabler-arrow-left' 'icon' %}
                        {% translate 'Take me back or home' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}