{% extends "admin/base.html" %}
{% load static pinmok_tags i18n %}
{% block body %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-header">500</div>
                <p class="empty-title">
                    {% translate 'Oops… You just found an error page' %}
                </p>
                <p class="empty-subtitle text-secondary">
                    {% translate 'We are sorry but our server encountered an internal error' %}
                </p>
                <div class="empty-action">
                    <button class="btn btn-primary" onclick="goBackOrHome()">
                        {% icon 'tabler-arrow-left' 'icon' %}
                        {% translate 'Take me back or home' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}