{% extends "admin/base_site.html" %}
{% load i18n admin_urls cmf_admin_tags %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    </li>
    <li class="breadcrumb-item active">{% translate 'History' %}</li>
{% endblock %}
{% block content %}
    <div id="change-history" class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3 class="card-title">{{ object }}</h3>
                    <p class="text-secondary m-0">{% translate 'History' %}</p>
                </div>
            </div>
        </div>
        {% if action_list %}
            <div class="table-responsive">
                <table class="table table-vcenter table-card">
                    <thead>
                    <tr>
                        <th scope="col">{% translate 'Date/time' %}</th>
                        <th scope="col">{% translate 'User' %}</th>
                        <th scope="col">{% translate 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in action_list %}
                        <tr>
                            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
                            <td>
                                {{ action.user.get_username }}
                                {% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}
                            </td>
                            <td>{{ action.get_change_message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <h2 id="pagination" class="visually-hidden">
                    {% blocktranslate with name=opts.verbose_name %}Pagination {{ name }} entries{% endblocktranslate %}
                </h2>
                <div class="d-flex align-items-center">
                    {% if pagination_required %}
                        <ul class="pagination m-0">
                            {% if action_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ page_var }}={{ action_list.previous_page_number }}">
                                        {% icon 'tabler-chevron-left' 'icon' 24 %}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        {% icon 'tabler-chevron-left' 'icon' 24 %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in page_range %}
                                <li class="page-item{% if i == action_list.number %} active{% endif %}">
                                    {% if i == action_list.paginator.ELLIPSIS %}
                                        {{ action_list.paginator.ELLIPSIS }}
                                    {% elif i == action_list.number %}
                                        <span class="page-link">{{ i }}</span>
                                    {% else %}
                                        <a href="?{{ page_var }}={{ i }}" class="page-link">{{ i }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% if action_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ page_var }}={{ action_list.next_page_number }}">
                                        {% icon 'tabler-chevron-right' 'icon' 24 %}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        {% icon 'tabler-chevron-right' 'icon' 24 %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <div class="ms-auto">
                        {{ action_list.paginator.count }}
                        {% blocktranslate count counter=action_list.paginator.count %}entry{% plural %}entries{% endblocktranslate %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card-body">
                <p class="text-center">
                    {% translate 'This object doesn’t have a change history. It probably wasn’t added via this admin site.' %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
