{% extends "admin/base.html" %}
{% load i18n static icons %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %} {{ title }} | {{ site_title }}
{% endblock %}

{% block body %}
    <div class="page {% block body_class %}{% endblock %}">
        {% if not is_popup %}
            <!--  BEGIN SIDEBAR  -->
            {% include "admin/includes/sidebar.html" %}
            <!--  END SIDEBAR  -->

            {% include 'admin/includes/header.html' %}
        {% endif %}

        <div class="page-wrapper">
            <div class="page-header d-print-none" aria-label="Page header">
                <div class="container-xl">
                    {% block page_header %}{% endblock %}
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <!-- BEGIN FOOTER -->
            {% include 'admin/includes/footer.html' %}
            <!-- END FOOTER -->
        </div>
    </div>
{% endblock %}