{% load static i18n %}

<div class="card my-2">
    <details data-filter-title="{{ title }}" open>
        <summary class="card-header">
            {% blocktranslate trimmed with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
        </summary>
        <div class="card-body">
            <ul class="list-unstyled">
                {% for choice in choices %}
                    <li{% if choice.selected %} class="selected"{% endif %}>
                        <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </details>
</div>