{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block page_header %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <!-- TODO 改内容 -->
            <div class="page-pretitle">{% translate 'Overview' %}</div>
            <h2 class="page-title">{% translate 'Dashboard' %}</h2>
        </div>
        <div class="col-auto ms-auto d-print-none">
            <h3 class="h2">{% translate 'Welcome,' %} {{ user.get_username }}</h3>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row row-deck row-cards">
        <!-- BEGIN INFORMATION PANELS -->
        <div class="col-sm-12 col-lg-8">
            <div class="row gy-3">
                <!-- BEGIN SYSTEM INFORMATION -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="flex-grow-1">
                                    <h3 class="card-title">{% translate 'System Information' %}</h3>
                                    <table class="table table-sm table-borderless table-striped" style="max-width: 22rem">
                                        <tbody>
                                        <tr>
                                            <td class="fw-bold">{% translate 'Operating System' %}</td>
                                            <td class="text-end">{{ sys_info.os }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Python {% translate 'version' %}</td>
                                            <td class="text-end">{{ sys_info.python_version }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Django {% translate 'version' %}</td>
                                            <td class="text-end">{{ sys_info.django_version }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">{{ sys_info.cmf_name }} {% translate 'version' %}</td>
                                            <td class="text-end">{{ sys_info.cmf_version }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">{% translate 'Database' %}</td>
                                            <td class="text-end">{{ sys_info.db_vendor }}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">{% translate 'Database' %} {% translate 'version' %}</td>
                                            <td class="text-end">{{ sys_info.db_version }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ms-3 flex-shrink-0" style="width:clamp(150px, 15vw, 300px);">
                                    <svg class="w-100 h-auto d-block">
                                        <use href="{% static 'admin/svg/info.svg' %}#pic-info"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SYSTEM INFORMATION -->

                <!-- BEGIN DISK INFORMATION -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-3">
                                {% blocktranslate with used_percent=disk_info.used_percent total=disk_info.total %}
                                    Total storage: {{ total }}, used: {{ used_percent }}%
                                {% endblocktranslate %}
                            </p>
                            <div class="progress progress-separated mb-3">
                                <div class="progress-bar {% if disk_info.used_percent >= 90 %}bg-danger{% elif disk_info.used_percent >= 70 %}bg-warning{% else %}bg-success{% endif %}"
                                     role="progressbar" style="width: {{ disk_info.used_percent }}%" aria-label="Regular"></div>
                            </div>
                            <div class="row">
                                <div class="col-auto d-flex align-items-center pe-2">
                                    <span class="legend me-2 {% if disk_info.used_percent >= 90 %}bg-danger{% elif disk_info.used_percent >= 70 %}bg-warning{% else %}bg-success{% endif %}"></span>
                                    <span>{% translate 'Used' %}</span>
                                    <strong class="d-none d-md-inline ms-2 text-secondary">{{ disk_info.used }}</strong>
                                </div>
                                <div class="col-auto d-flex align-items-center ps-2">
                                    <span class="legend me-2"></span>
                                    <span>{% translate 'Free' %}</span>
                                    <strong class="d-none d-md-inline ms-2 text-secondary">{{ disk_info.free }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END DISK INFORMATION -->
            </div>
        </div>
        <!-- END INFORMATION PANELS -->

        <!-- BEGIN USER ACTIONS -->
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">{% translate 'Recent actions' %}</h3>
                        <span>{% translate 'My actions' %}</span>
                    </div>
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                        <p>{% translate 'None available' %}</p>
                    {% else %}
                        <ul class="steps steps-vertical">
                            {% for entry in admin_log %}
                                <li class="step-item">
                                    <div class="h4 m-0 {% if entry.is_addition %}text-success{% endif %}{% if entry.is_change %}text-primary{% endif %}{% if entry.is_deletion %}text-danger{% endif %}">
                                        {% if entry.is_addition %}
                                            {% translate 'Added:' %}
                                        {% elif entry.is_change %}
                                            {% translate 'Changed:' %}
                                        {% elif entry.is_deletion %}
                                            {% translate 'Deleted:' %}
                                        {% endif %}
                                    </div>
                                    <div class="text-secondary">
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                            {{ entry.object_repr }}
                                        {% else %}
                                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}
                                        <br>
                                        {% if entry.content_type %}
                                            <span class="fs-6 text-muted">{% filter capfirst %}
                                                {{ entry.content_type.name }}{% endfilter %}</span>
                                        {% else %}
                                            <span class="fs-6 text-muted">{% translate 'Unknown content' %}</span>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END USER ACTIONS -->
    </div>
{% endblock %}