{% load cmf_admin_tags i18n %}
{% if fieldset.is_collapsible %}
    <div class="accordion accordion-tabs accordion-inverted">
{% endif %}

<fieldset class="card mb-3 {{ fieldset.classes|cut:"collapse" }}{% if fieldset.is_collapsible %} accordion-item{% endif %}"
        {% if fieldset.name %} aria-labelledby="{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}-heading"{% endif %}>
    {% if fieldset.name %}
        <div class="card-header">
            <div> {# For card subtitle use, can not be deleted. #}
                <div class="card-title" id="{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}-heading">
                    {% if fieldset.is_collapsible %}
                        <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}">
                            {{ fieldset.name }}
                            <div class="accordion-button-toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </div>
                        </button>
                    {% else %}
                        {{ fieldset.name }}
                    {% endif %}
                </div>
                {% if fieldset.description %}
                    <div class="card-subtitle">{{ fieldset.description|safe }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="card-body{% if fieldset.is_collapsible %} accordion-collapse collapse{% endif %}"
         id="{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}">
        {% for line in fieldset %}
            <div class="form-row row mb-3 d-flex{% if not line.has_visible_field %} d-none{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% for field in line %}
                    <div class="col-md{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} d-none{% endif %}">
                        {% if field.is_fieldset %}
                            <fieldset class="form-fieldset" {% if field.field.help_text %}
                                      aria-describedby="{{ field.field.id_for_label }}_helptext"{% endif %}>
                            {{ field.label_tag|add_class:'card-title' }}
                        {% endif %}
                        {% if field.is_checkbox %}
                            <div class="form-label invisible">&emsp;</div>
                            <div class="form-check">
                                {{ field.field }}
                                {% if not field.is_fieldset %}{{ field.label_tag|add_class:'form-check-label' }}{% endif %}
                            </div>
                        {% else %}
                            {% if not field.is_fieldset %}{{ field.label_tag|add_class:'form-label' }}{% endif %}
                            {% if field.is_readonly %}
                                <div class="form-control-plaintext">{{ field.contents }}</div>
                            {% else %}
                                {% if field.errors %}
                                    {{ field.field|add_class:'is-invalid' }}
                                    <div class="invalid-feedback">{{ field.errors }}</div>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if field.field.help_text %}
                            <small class="form-hint{% if field.field.is_hidden %} hidden{% endif %}"
                                    {% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                                {{ field.field.help_text|safe }}
                            </small>
                        {% endif %}
                        {% if field.is_fieldset %}</fieldset>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</fieldset>

{% if fieldset.is_collapsible %}</div>{% endif %}
