<fieldset class="card module aligned {{ fieldset.classes }}"{% if fieldset.name %}
          aria-labelledby="{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}-heading"{% endif %}>
    {% if fieldset.name %}
        {% if fieldset.is_collapsible %}
            <details>
            <summary>
        {% endif %}
    <div class="card-header">
        <h{{ heading_level|default:2 }} id="{{ prefix }}-{{ id_prefix }}-{{ id_suffix }}-heading" class="card-title">
            {{ fieldset.name }}</h{{ heading_level|default:2 }}>
        {% if fieldset.description %}
            {{ fieldset.description|safe }}
        {% endif %}
    </div>
    {% if fieldset.is_collapsible %}</summary>{% endif %}
    {% endif %}

    <div class="card-body">
        {% for line in fieldset %}
            <div class="mb-3{% if line.fields|length == 1 and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% if line.fields|length == 1 %}{{ line.errors }}{% endif %}
                {% for field in line %}
                    {% if not line.fields|length == 1 and not field.is_readonly %}{{ field.errors }}{% endif %}
                    <div class="row{% if not line.fields|length == 1 %} fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}{% endif %}{% if field.is_checkbox %} checkbox-row{% endif %}">
                        <label class="col-3 col-form-label{% if field.field.field.required %} required{% endif %}"
                               for="{{ field.field.id_for_label }}">{{ field.field.label }}</label>
                        <div class="col">
                            {% if field.is_checkbox %}
                                <label class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="{{ field.field.name }}"
                                           id="{{ field.field.id_for_label }}" {% if field.field.value %}checked{% endif %}>
                                </label>
                            {% else %}
                                <input type="{{ field.field.field.widget.input_type }}"
                                       name="{{ field.field.name }}" id="{{ field.field.id_for_label }}"
                                       class="form-control {{ field.field.field.widget.attrs.class }}"
                                        {% if field.field.field.widget.attrs.maxlength %}
                                       maxlength="{{ field.field.field.widget.attrs.maxlength }}"{% endif %}
                                       value="{{ field.field.value|default:'' }}"
                                        {% if field.field.is_readonly %} readonly{% endif %}
                                        {% if field.field.field.required %} required{% endif %}>
                            {% endif %}
                            {% if field.field.help_text %}
                                <small class="form-hint{% if field.field.is_hidden %} hidden{% endif %}"
                                        {% if field.field.id_for_label %} id="{{ field.field.id_for_label }}_helptext"{% endif %}>
                                    <div>{{ field.field.help_text|safe }}</div>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if fieldset.name and fieldset.is_collapsible %}</details>{% endif %}
</fieldset>
