{% load i18n static cmf_tags %}

<aside class="navbar navbar-vertical navbar-expand-lg">
    <div class="container-fluid">
        <!-- BEGIN NAVBAR TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- END NAVBAR TOGGLER -->
        <!-- BEGIN NAVBAR LOGO -->
        <div class="navbar-brand navbar-brand-autodark" style="font-size: 1rem">
            <a href="{% url 'admin:index' %}" class="d-flex align-items-center text-decoration-none"
               aria-label="Tabler">
                {% if config.site_logo %}
                    <img src="{% media_url config.site_logo %}" alt="Logo" width="28" height="28">
                {% else %}
                    <svg width="28" height="28">
                        <use href="{% static 'admin/svg/crazy_logo.svg' %}"></use>
                    </svg>
                {% endif %}
                <span class="ms-2 text-body">{{ site_header }}</span>
            </a>
        </div>
        <!-- END NAVBAR LOGO -->

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <!-- BEGIN ICON GROUP  -->
            <div class="d-flex justify-content-center gap-3">
                <!-- Jump to home -->
                <a href="/" title="{% translate 'View site' %}" class="text-primary" target="_blank"
                   data-bs-toggle="tooltip" data-bs-placement="bottom">
                    {% sprite 'tabler-home' 'icon' %}
                </a>

                <!-- Synchronize menu -->
                {% if user.is_superuser %}
                    <a class="text-danger cursor-pointer" data-bs-toggle="modal" data-bs-target="#sync_menu_alert">
                        <svg class="icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" title="{% translate 'Synchronize Menu' %}"
                             data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <use href="{% static 'admin/svg/sprite.svg' %}#tabler-menu"></use>
                        </svg>
                    </a>
                {% endif %}
            </div>
            <!-- END ICON GROUP  -->

            <!-- BEGIN NAVBAR MENU -->
            {% if admin_menu %}
                <ul class="navbar-nav pt-lg-1" id="sidebar-menu">
                    <!-- BEGIN MENU ITEM -->
                    {% for menu in admin_menu %}
                        <!-- First level -->
                        <li class="nav-item{% if menu.children %} dropend direction-switch{% endif %}">
                            <!-- Remove the arrow indicator when there is no submenu -->
                            <a class="nav-link{% if menu.children %} dropdown-toggle{% endif %}"
                               {% if not menu.children and menu.url %}href="{{ menu.url }}"{% endif %}
                               {% if menu.children %}data-bs-toggle="dropdown"
                               data-bs-auto-close="false" role="button" aria-expanded="false"{% endif %}>
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                {% if menu.icon %}
                                    <svg class="icon" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <use href="{{ menu.sprite_path }}#{{ menu.icon }}"></use>
                                    </svg>
                                {% endif %}
                                </span>
                                <span class="nav-link-title"> {% translate menu.title %} </span>
                            </a>
                            {% if menu.children %}
                                <!-- Second level -->
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            {% for child in menu.children %}
                                                <!-- Since the format with submenus is completely different, So handle them separately. -->
                                                {% if child.children %}
                                                    <div class="dropend">
                                                        <a class="dropdown-item dropdown-toggle"
                                                           {% if child.url %}href="{{ child.url }}"{% endif %}
                                                           data-bs-toggle="dropdown" data-bs-auto-close="false"
                                                           role="button"
                                                           aria-expanded="false">
                                                            {% if child.icon %}
                                                                <svg class="icon" fill="none" stroke="currentColor"
                                                                     stroke-width="2" stroke-linecap="round"
                                                                     stroke-linejoin="round">
                                                                    <use href="{{ child.sprite_path }}#{{ child.icon }}"></use>
                                                                </svg>
                                                            {% else %}
                                                                <span class="w-1">&#8226;</span>
                                                            {% endif %}
                                                            {% translate child.title %}
                                                        </a>
                                                        <!-- Third level -->
                                                        <div class="dropdown-menu">
                                                            {% for cc in child.children %}
                                                                {% if cc.url %}
                                                                    <a href="{{ cc.url }}"
                                                                       class="dropdown-item">{% translate cc.title %}</a>
                                                                {% else %}
                                                                    <span class="dropdown-item disabled">{% translate cc.title %}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <!-- end third level -->
                                                    </div>
                                                {% elif child.url %}
                                                    <a href="{{ child.url }}" class="dropdown-item">
                                                        {% if child.icon %}
                                                            <svg class="icon">
                                                                <use href="{{ child.sprite_path }}#{{ child.icon }}"></use>
                                                            </svg>
                                                        {% else %}
                                                            <span class="w-1">&#8226;</span>
                                                        {% endif %}
                                                        {% translate child.title %}
                                                    </a>
                                                {% else %}
                                                    <span class="dropdown-item disabled">
                                                        <span class="w-1">&#8226;</span>
                                                        {% translate child.title %}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- end second level -->
                            {% endif %}
                        </li>
                        <!-- end first level -->
                    {% endfor %}
                    <!-- BEGIN MENU ITEM -->
                </ul>
            {% endif %}
            <!-- END NAVBAR MENU -->
        </div>
    </div>
</aside>

{# Synchronize Warning #}
<div class="modal modal-blur fade rounded bg-surface-backdrop py-6 w-100 h-100" id="sync_menu_alert"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                {% sprite 'tabler-alert-triangle' 'icon mb-2 text-danger icon-lg' %}
                <h3 class="text-uppercase">{% translate 'Warning' %}</h3>
                <div class="text-secondary text-start">
                    {% blocktranslate trimmed %}
                        Synchronizing the menu will reload the menu configuration and reset all menu items. This action
                        cannot be undone!
                        Please proceed with caution if you have made any adjustments to the menus!
                    {% endblocktranslate %}
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <button class="btn w-100" data-bs-dismiss="modal"> {% translate 'Cancel' %} </button>
                        </div>
                        <div class="col">
                            <a href="{% url 'admin:sync_menu' %}"
                               class="btn btn-danger w-100">{% translate 'Confirm' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>