{% load i18n icons %}
<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <!-- BEGIN DOCUMENTATION -->
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docs_root %}
                        {% if docs_root %}
                            <li class="list-inline-item">
                                <a href="{{ docs_root }}" class="link-secondary">{% translate 'Documentation' %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <!-- END DOCUMENTATION -->
                    <!-- TODO 修改链接内容 -->
                    <li class="list-inline-item">
                        <a href="#" class="link-secondary">License</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                            {% sprite 'tabler-heart' 'icon text-pink icon-inline' %} Sponsor
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2025
                        <a href="https://www.qdcrazy.cn" target="_blank" rel="noopener noreferrer">惠达浪</a>
                        {% translate 'Based on Tabler' %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
